li:hover{
    background-color: brown;
    border-radius: 10px;
    border: 1px solid yellow;
}

.navbar-custom {
    background-color: #040507;
}

.navbar-custom .nav-link {
    color: #6d0d0d; 
}

.navbar-custom .nav-link:hover {
    color: #5c1097; 
}